:root {
    --main-page-color: #2E2F42;
    --text-color: #434455;
    --remove-marker-list: none;
}

* {
    box-sizing: border-box;
}

/*-------------Style reset------------ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;


}

/*---------------Logo---------------*/
.accent {
    color: #4D5AE5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-page-color);

}

.logo-header {
    margin-right: 76px;
}

/*----------------Navigation----------------*/

.header-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    list-style-type: var(--remove-marker-list)
}

.header-list-link {
    text-decoration: none;
    color: var(--main-page-color);
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}

/* ---------------Address---------------*/

.address-tel {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.address-list {
    list-style-type: var(--remove-marker-list)
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 156px;
    margin: 0 auto;

}

.heder-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    margin-bottom: 96px;


}

.navigation-list {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-list-container {
    display: flex;
    gap: 40px;
}

.address-list-container {
    display: flex;
    gap: 40px;
}

/*----------------Hero---------------*/

.section-hero {
    background-color: var(--main-page-color);
    height: 600px;
    max-width: 1440px;
    margin: 0 auto 120px auto;
}


.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 48px;
    width: 496px;

}

.hero-button {
    display: flex;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;


}

.address-tel:hover,
.address-tel:focus {
    color: #404BBF;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.hero-text {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

/*---------------Features--------------- */
.features {
    margin-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 22px;

}

.features-subtitle {
    font-weight: 500;
    padding-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

/*---------------Our works---------------*/
.doing-list,
.team-list,
.features-list {
    list-style-type: var(--remove-marker-list)
}

.doing-title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
}

.doing-list-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.doing-title,
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/*---------------Team--------------- */
.bg-color-team {
    background-color: #F4F4FD;
}

.team-title-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.team-list-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.team-bg-color {
    background-color: #fff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 23px;
    padding-bottom: 8px;
    text-align: center;
}

.team-name-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-bottom: 32px;
    text-align: center;
}

/*---------------Footer--------------- */
.footer-container {
    background-color: var(--main-page-color);
    padding-top: 100px;

}

.footer,
.logo-footer {
    color: #FFFFFF;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 300px;
    padding-top: 16px;
    padding-bottom: 100px;



}

/*---------------Portfolio page--------------- */
/*---------------Button---------------*/
.btn-list,
.gallery-list {
    list-style-type: var(--remove-marker-list)
}

.btn-list-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 76px;
}

.btn-items:hover,
.btn-items:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.btn-text:hover,
.btn-text:focus {
    color: #FFFFFF;
}

.btn-items {
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    min-width: 126px;
    min-height: 48px;

}

.btn-text {
    color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

/*---------------Gallery--------------- */
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;
    /* width: calc((100%-48px) / 3); */
}

.gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-left: 16px;
}

.gallery-text {
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-left: 16px;
}



.gallery-item-border {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    /* width: calc((100%-48px) / 3); */

}